#aim{
	background-color: #34a853;
	color: white;
	display: flex;
	padding: 13% 5%;
}

.aimimggif{
	height: auto;
	width: 100%;
}

.aimcontent{
	padding-left: 10%;
	flex-basis: 125%;
}

.aimh1{
	border-left: 20px solid #e94235;
  background-color: #f8f9fa;
  text-align: center;
  color: #4285f4;
}

.aimp{
	background-color: #fabb05;
	margin-top: 2%;
	border-radius: 20px;
	padding: 5%;
	font: italic bold 26px Georgia, serif;
}
